.hero-list {
  position: relative;
  display: inline-block;
}

.hero-list > input {
  width: 15rem;
}

.hidden-list {
  display: none;
  position: absolute;
  padding: 0.5rem;
  background-color: #2e1c2b;
  border: 1px solid white;
  z-index: 100;
  width: 15rem;
  margin-top: 0;
  list-style: none;
}

.hidden-list.show-list {
  display: block;
}

.hidden-list a {
  text-decoration: none;
  color: white;
}
